@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --font-family: 'Manrope', sans-serif;

  --gradient-text:linear-gradient(90deg, rgb(22, 189, 223) 0%, rgb(172, 135, 241) 14%, rgb(252, 175, 252) 100%);
  --gradient-bar:linear-gradient(103.22deg, #ae67fa -13.86%, #f49867 99.55%);

  --color-bg: #040c18;
  --color-footer: #031b34;
  --color-blog: #042c54;
  --color-text: #81afdd;
  --color-subtext: #ff8a71;
}

/* background:-moz-linear-gradient(256deg, #6384FAA6 17%, #F056FF66 78%); 
background:-webkit-linear-gradient(256deg, #6384FAA6 17%, #F056FF66 78%);
background:-o-linear-gradient(256deg, #6384FAA6 17%, #F056FF66 78%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6384FA', endColorstr='#F056FF', GradientType=0 );
background:-ms-linear-gradient(256deg, #6384FAA6 17%, #F056FF66 78%);
background:linear-gradient(256deg, #6384FAA6 17%, #F056FF66 78%); */